
<row>
    <h3 class="content_title" style="text-align: center;font-weight: bold;">※この価格は概算です。</h3>
</row>
<row>
    <div style="display: table;width: 100%; margin-bottom: 10px;">
        <div style="display: table-cell; text-align: left;">
            <h2>
                <span class="label label-{{discount_class}}">{{discount_per}}割負担</span>
            </h2>
        </div>
        <div style="display: table-cell;text-align: right;">
            <button id="btnDiscont_1" type="button" class="btn btn-chemocalc">1割負担</button>
            <button id="btnDiscont_2" type="button" class="btn btn-chemocalc">2割負担</button>
            <button id="btnDiscont_3" type="button" class="btn btn-chemocalc">3割負担</button>
        </div>
    </div>
</row>
<row>
    <table id="diffTable" class="table table-bordered table-striped table-responsive table-condensed table-hover">
        <thead>
            <tr class="{{ discount_class }}">
                <th>レジメン</th>
                <th>1回分</th>
                <th>1コース分</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>FEC</td>
                <td>83,682 円/回</td>
                <td>=> 83,682 円/3週</td>
            </tr>
            <tr>
                <td>CDK4/6阻害薬(イブランス)</td>
                <td></td>
                <td>=> 142,130 円/30日</td>
            </tr>
            <tr>
                <td>ホルモン(内服)</td>
                <td></td>
                <td>=> 4,553 円/30日</td>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{user.id }}</td>
                    <td>{{user.name }}</td>
                    <td>{{user.tel }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>   
</row>
