
<row>
    <h4 class="content_title" style="text-align: center;font-weight: bold;">※この価格は概算です。</h4>
</row>
<row>
    <div style="display: table;width: 100%; margin-bottom: 10px;">
        <div style="display: table-cell; text-align: left;">
            <h2>
                <span class="label label-{{discount_class}}">{{discount_per}}割負担</span>
            </h2>
        </div>
        <div style="display: table-cell;text-align: right;">
            <button id="btnDiscont_1" type="button" class="btn btn-chemocalc">1割負担</button>
            <button id="btnDiscont_2" type="button" class="btn btn-chemocalc">2割負担</button>
            <button id="btnDiscont_3" type="button" class="btn btn-chemocalc">3割負担</button>
        </div>
    </div>
</row>
<row>
    <table id="diffTable" class="table table-bordered table-striped table-responsive table-condensed table-hover">
        <thead>
            <tr>
                <th class="col1">レジメン</th>
                <th class="col2">1回分</th>
                <th class="col3">1コース分</th>
            </tr>
        </thead>
        <tbody>
            {% for priceData in priceDataArray %}
                <tr>
                    <td class="col1">{{priceData.regimenName}}</td>
                    <td class="col2">{{priceData.oncePrice}}</td>
                    <td class="col3">{{priceData.oneCoursePrice}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>   
</row>
